.nav-container{
  margin: auto;
}
.logo-href{
  text-decoration: none;
  color:#00bcd4;
}
.logo-header{
  text-align: center;
}
.header{
  background-color: #ededed;
  color: gray;
  text-align: right;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.signin-signup{
  padding: 3px 3px 3px 3px;
}
.middle{
  padding: 0 10px 0 10px;
}
.login{  
  color:gray;  
  text-decoration: none;
}
.signup{
  margin-right: 8%;
  color:gray;
  text-decoration: none;
}
.space{
  height: 30px;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.item-center{
  text-align: center;
}
.footer{
  background-color: gainsboro;
  padding-bottom: 50px;
}

.info{
  margin-left: 30px;
}
.info a{
  text-decoration: none;
  color: black;
}
.content-footer{
  background-color: gray;
  margin-top: 0;
}

.link{
  text-decoration: none;
  color: #00bcd4;
}